// extends allows us to include our layout page to each pug file.
extends shared/layout.pug

// block content is what is rendered.
block content
  div
    // Display all the records
    each request in requests
      p #{request}
